/*-- scss:defaults --*/

// fonts
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

// colors
$body-bg: #243a5e;
$body-color: #ffffff;
$presentation-heading-color: #50e6ff;
$link-color: #8661c5;
$selection-bg: #737373;

.reveal .slide-logo {
  height: 100px !important;
//  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}
